<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <title> Truelty | Crime </title>
      <meta name="description" content="Fliqs - Superpower for Gaming Websites" />
      <meta name="keywords" content="gaming, game, esports, community, template, html, bootstrap, webpack" />
      <meta name="author" content="nK" />
      <link rel="icon" type="image/png" href="{{ url_for('static', filename= 'fliqs-assets/images/favicon.png')}}" />
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700;800&amp;display=swap" />
      


       <script>
         L_NO_TOUCH = false;
         L_DISABLE_3D = true;
      </script>
      <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
      <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
      <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
      <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
      <meta name="viewport" content="width=device-width,
         initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
      <style>
         #map_world {
         position: relative;
         width: 100.0%;
         height: 100.0%;
         left: 0.0%;
         top: 0.0%;
         }
         .leaflet-container { font-size: 1rem; }
      </style>
      <!-- End of map -->

      <link rel="stylesheet" href="{{ url_for('static', filename= 'fliqs-assets/vendor/swiper/swiper-bundle.minafa4.css')}}" />
      <link rel="stylesheet" href="{{ url_for('static', filename= 'fliqs-assets/vendor/fancybox/dist/jquery.fancybox.min438f.css')}}" />
      <link rel="stylesheet" href="{{ url_for('static', filename= 'fliqs-assets/css/bootstrap-custom.min24ee.css')}}" />
      <link rel="stylesheet" href="{{ url_for('static', filename= 'fliqs-assets/css/fliqs.min24ee.css')}}" />
      <link rel="stylesheet" href="{{ url_for('static', filename= 'fliqs-assets/css/custom24ee.css')}}" />
      <script src="{{ url_for('static', filename= 'fliqs-assets/vendor/jquery/dist/jquery.min45e0.js')}}"></script>
      <script src="{{ url_for('static', filename= 'fliqs-assets/js/preloader.min24ee.js')}}"></script>
      <link href='https://fonts.googleapis.com/css?family=Finger Paint' rel='stylesheet'>


      <style>
         html, body {margin: 0; height: 100%; overflow: hidden}
      </style>

   </head>
   <body id="page" class="flq-navbar-icons-existence">
      <div class="flq-preloader">
         <div class="flq-preloader-title display-1 h1" style="font-family: 'Finger Paint'; font-size: 60px;">
        <span>t</span>
        <span>r</span>
        <span>u</span>
        <span>e</span>
        <span>l</span>
        <span>t</span>
        <span>y</span>
         </div>
      </div>
      <div class="flq-preloader-bg"></div>

      <div class="py-7 min-vh-100 flq-background d-flex align-items-center">
         <div class="flq-background-image">
            <span class="flq-image jarallax" data-speed=0.7>
               <img src="{{ url_for('static', filename= 'own-assets/img/crime.jpg')}}" class="jarallax-img" alt="">
            </span>
      
         </div>

               <div class="flq-preloader-bg"></div>
      <nav class="flq-navbar flq-navbar-top flq-navbar-top-fixed" >
         <div class="flq-navbar-container container-fluid">

            <a href="/" class="flq-navbar-brand me-auto">
            <img src="{{ url_for('static', filename= 'fliqs-assets/images/logo.png')}}" class="flq-logo" alt="" style="width: 100px;">
            </a>
         </div>

      </nav>


         <div class="flq-background-overlay" style="background-color: hsla(var(--flq-color-black), 0.8);"></div>
         <div class="container " data-sr="movie" data-sr-interval="70" data-sr-duration="1200" data-sr-distance="10">
            <div>
              
               <div class="col-12 col-lg-6 py-lg-2 flq-vertical-rhythm">
                  <span class="flq-subtitle badge badge-white badge-translucent" data-sr-item="movie">{{ place|safe }}</span>
                  <h1 class="mb-0" data-sr-item="movie">{{ prediction_text|safe }}</h1>
                  <!-- <p class="lead" data-sr-item="movie">This is just expected crime </p> -->
                  
               </div>
            </div>
    
         </div>
      </div>


      <script src="{{ url_for('static', filename= 'fliqs-assets/vendor/object-fit-images/dist/ofi.mind3bb.js')}}"></script>
      <script src="{{ url_for('static', filename= 'fliqs-assets/vendor/%40popperjs/core/dist/umd/popper.minc927.js')}}"></script>
      <script src="{{ url_for('static', filename= 'fliqs-assets/vendor/scrollreveal/dist/scrollreveal.minbc3e.js')}}"></script>
      <script src="{{ url_for('static', filename= 'fliqs-assets/vendor/rellax/rellax.min4f96.js')}}"></script>
      <script src="{{ url_for('static', filename= 'fliqs-assets/vendor/vanilla-tilt/dist/vanilla-tilt.minfe21.js')}}"></script>
      <script src="{{ url_for('static', filename= 'fliqs-assets/vendor/animejs/lib/anime.min2167.js')}}"></script>
      <script src="{{ url_for('static', filename= 'fliqs-assets/vendor/bootstrap/dist/js/bootstrap.minc420.js')}}"></script>
      <script src="{{ url_for('static', filename= 'fliqs-assets/vendor/jarallax/dist/jarallax.min327d.js')}}"></script>
      <script src="{{ url_for('static', filename= 'fliqs-assets/vendor/swiper/swiper-bundle.minafa4.js')}}"></script>
      <script src="{{ url_for('static', filename= 'fliqs-assets/vendor/fancybox/dist/jquery.fancybox.min438f.js')}}"></script>
      <script src="{{ url_for('static', filename= 'fliqs-assets/vendor/jquery-countdown/dist/jquery.countdown.mind1f1.js')}}"></script>
      <script src="{{ url_for('static', filename= 'fliqs-assets/vendor/moment/min/moment.min63eb.js')}}"></script>
      <script src="{{ url_for('static', filename= 'fliqs-assets/vendor/moment-timezone/builds/moment-timezone-with-data.minc112.js')}}"></script>
      <script src="{{ url_for('static', filename= 'fliqs-assets/vendor/imagesloaded/imagesloaded.pkgd.mine781.js')}}"></script>
      <script src="{{ url_for('static', filename= 'fliqs-assets/vendor/isotope-layout/dist/isotope.pkgd.minaf3e.js')}}"></script>
      <script src="{{ url_for('static', filename= 'fliqs-assets/vendor/bootstrap-validator/dist/validator.minfb28.js')}}"></script>
      <script src="{{ url_for('static', filename= 'fliqs-assets/js/fliqs.min24ee.js')}}"></script>
      <script src="{{ url_for('static', filename= 'fliqs-assets/js/fliqs-init24ee.js')}}"></script>
   </body>


   <script>
      var map_world = L.map(
          "map_world",
          {
              center: [37.7749, -122.4194],
              crs: L.CRS.EPSG3857,
              zoom: 14,
              zoomControl: true,
              preferCanvas: false,
          }
      );
      
      
      
      var tile_layer_world = L.tileLayer(
          "https://cartodb-basemaps-{s}.global.ssl.fastly.net/dark_all/{z}/{x}/{y}.png"
      ).addTo(map_world);
      
      
   </script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
   <script type="text/javascript">
      $(".leaflet-control-container").empty();
      
      setInterval(function () { map_world.invalidateSize(); }, 100);
      
   </script>

</html>