<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <title> Truelty | SF </title>
      <link rel="icon" type="image/png" href="{{ url_for('static', filename= 'fliqs-assets/images/favicon.png')}}" />
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700;800&amp;display=swap" />
      
      <link rel="stylesheet" href="{{ url_for('static', filename= 'fliqs-assets/vendor/swiper/swiper-bundle.minafa4.css')}}" />
      <link rel="stylesheet" href="{{ url_for('static', filename= 'fliqs-assets/vendor/fancybox/dist/jquery.fancybox.min438f.css')}}" />
      <link rel="stylesheet" href="{{ url_for('static', filename= 'fliqs-assets/css/bootstrap-custom.min24ee.css')}}" />
      <link rel="stylesheet" href="{{ url_for('static', filename= 'fliqs-assets/css/fliqs.min24ee.css')}}" />
      <link rel="stylesheet" href="{{ url_for('static', filename= 'fliqs-assets/css/custom24ee.css')}}" />
      <script src="{{ url_for('static', filename= 'fliqs-assets/vendor/jquery/dist/jquery.min45e0.js')}}"></script>
      <script src="{{ url_for('static', filename= 'fliqs-assets/js/preloader.min24ee.js')}}"></script>
      <link href='https://fonts.googleapis.com/css?family=Finger Paint' rel='stylesheet'>


      <style>
         html, body {margin: 0; height: 100%; overflow: hidden}

      .btn-icon {
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
      }

      .btn-name {
        display: inline-block;
        vertical-align: middle;
      }
    </style>
      </style>

   </head>
   <body id="page" class="flq-navbar-icons-existence">
      <div class="flq-preloader">
         <div class="flq-preloader-title display-1 h1" style="font-family: 'Finger Paint'; font-size: 60px;">
        <span>t</span>
        <span>r</span>
        <span>u</span>
        <span>e</span>
        <span>l</span>
        <span>t</span>
        <span>y</span>
         </div>
      </div>
      <div class="flq-preloader-bg"></div>

      <div class="py-7 min-vh-100 flq-background d-flex align-items-center">
         <div class="flq-background-image">
            <span class="flq-image jarallax" data-speed=0.7>
            <img src="{{ url_for('static', filename= 'own-assets/img/SF-index.jpg')}}" class="jarallax-img" alt="">
            </span>
         </div>

               <div class="flq-preloader-bg"></div>
      <nav class="flq-navbar flq-navbar-top flq-navbar-top-fixed" >
         <div class="flq-navbar-container container-fluid">

            <a href="/" class="flq-navbar-brand me-auto">
            <img src="{{ url_for('static', filename= 'fliqs-assets/images/logo.png')}}" class="flq-logo" alt="" style="width: 100px;">
            </a>
         </div>

      </nav>


         <div class="flq-background-overlay" style="background-color: hsla(var(--flq-color-black), 0.9);"></div>
         <div class="container " data-sr="movie" data-sr-interval="70" data-sr-duration="1200" data-sr-distance="10">
            <div>
              
               <div class="col-12 col-lg-6 py-lg-2 flq-vertical-rhythm">
                  <span class="flq-subtitle badge badge-white badge-translucent" data-sr-item="movie">United States of America</span>
                  <h1 class="mb-0" data-sr-item="movie">San Francisco</h1> 

<!--                      <a style="width: 200px" href="/sf_eda" class="btn btn-block btn-sm btn-dark btn-icon-xs">
                        <span class="btn-icon">
                        <svg width="5" height="5" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M3.88322 6.94244L15 14.7242L26.1168 6.94244C25.9101 6.53365 25.485 6.25 25 6.25H5C4.515056.25 4.08995 6.53365 3.88322 6.94244ZM1.25 7.5C1.25 5.43464 2.93464 3.75 5 3.75H25C27.0654 3.75 28.75 5.43464 28.75 7.5V22.5C28.75 24.565427.0654 26.25 25 26.25H5C2.93464 26.25 1.25 24.5654 1.25 22.5V7.5Z" fill="currentColor" />
                        </svg>
                        </span>
                        <span class="btn-name">Data Report</span>
                     </a>
 -->
                  
                  <p class="lead" data-sr-item="movie">San Francisco, officially the City and County of San Francisco, is the commercial, financial, and cultural center of Northern California. San Francisco is known for its steep rolling hills and eclectic mix of architecture across varied neighborhoods and landmarks, including the Golden Gate Bridge, cable cars, Alcatraz, and Chinatown.</p>
                 
                  <!-- <div></div> -->
                    <a style="width: 250px; display: inline-block; margin-right: 10px; vertical-align: top;" href="/sf_eda" class="btn btn-block btn-sm btn-dark btn-icon-xs">
  <span class="btn-icon" >
    <svg width="5" height="5" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M3.88322 6.94244L15 14.7242L26.1168 6.94244C25.9101 6.53365 25.485 6.25 25 6.25H5C4.515056.25 4.08995 6.53365 3.88322 6.94244ZM1.25 7.5C1.25 5.43464 2.93464 3.75 5 3.75H25C27.0654 3.75 28.75 5.43464 28.75 7.5V22.5C28.75 24.565427.0654 26.25 25 26.25H5C2.93464 26.25 1.25 24.5654 1.25 22.5V7.5Z" fill="currentColor" />
    </svg>
  </span>
  <span class="btn-name" style="display: inline-block;">Data Report</span>
</a>


<a style="width: 250px; display: inline-block; margin-right: 10px; vertical-align: top;" href="https://public.tableau.com/app/profile/san.francisco.police.department/viz/CrimeNumbersDashboardFullSize/Crime_Numbers_Full_Size" class="btn btn-block btn-sm btn-dark btn-icon-xs">
  <span class="btn-icon" >
    <svg width="5" height="5" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M3.88322 6.94244L15 14.7242L26.1168 6.94244C25.9101 6.53365 25.485 6.25 25 6.25H5C4.515056.25 4.08995 6.53365 3.88322 6.94244ZM1.25 7.5C1.25 5.43464 2.93464 3.75 5 3.75H25C27.0654 3.75 28.75 5.43464 28.75 7.5V22.5C28.75 24.565427.0654 26.25 25 26.25H5C2.93464 26.25 1.25 24.5654 1.25 22.5V7.5Z" fill="currentColor" />
    </svg>
  </span>
  <span class="btn-name" style="display: inline-block;">Data Dashboard</span>
</a>


               </div>
            </div>

            
                  
         <div >
            

            <form action="{{ url_for('predict_sf')}}" method="POST">
               <div class="row gy-4" data-sr="contact-form" data-sr-interval="100" data-sr-duration="1000" data-sr-distance="10">

                     <div class="col-12 col-sm" data-sr-item="contact-form">
                        <select class="form-control form-control-lg" id="area" name="area">
                            <option value="Excelsior" selected>Excelsior</option>
                            <option value="Bayview Hunters Point">Bayview Hunters Point</option>
                            <option value="Castro/Upper Market">Castro/Upper Market</option>
                            <option value="Chinatown">Chinatown</option>
                            <option value="Financial District/South_Beach">Financial District/South Beach</option>
                            <option value="Glen Park">Glen Park</option>
                            <option value="Golden Gate Park">Golden Gate Park</option>
                            <option value="Haight Ashbury">Haight Ashbury</option>
                            <option value="Hayes Valley">Hayes Valley</option>
                            <option value="Inner Richmond">Inner Richmond</option>
                            <option value="Inner Sunset">Inner Sunset</option>
                            <option value="Japantown">Japantown</option>
                            <option value="Lakeshore">Lakeshore</option>
                            <option value="Lincoln Park">Lincoln Park</option>
                            <option value="Lone Mountain/USF">Lone Mountain/USF</option>
                            <option value="Marina">Marina</option>
                            <option value="McLaren Park">McLaren Park</option>
                            <option value="Mission">Mission</option>
                            <option value="Mission Bay">Mission Bay</option>
                            <option value="Nob Hill">Nob Hill</option>
                            <option value="Noe Valley">Noe Valley</option>
                            <option value="North Beach">North Beach</option>
                            <option value="Oceanview/Merced/Ingleside">Oceanview/Merced/Ingleside</option>
                            <option value="Outer Mission">Outer Mission</option>
                            <option value="Outer Richmond">Outer Richmond</option>
                            <option value="Pacific Heights">Pacific Heights</option>
                            <option value="Portola">Portola</option>
                            <option value="Potrero Hill">Potrero Hill</option>
                            <option value="Presidio">Presidio</option>
                            <option value="Presidio Heights">Presidio Heights</option>
                            <option value="Russian Hill">Russian Hill</option>
                            <option value="Seacliff">Seacliff</option>
                            <option value="South of Market">South of Market</option>
                            <option value="Sunset/Parkside">Sunset/Parkside</option>
                            <option value="Tenderloin">Tenderloin</option>
                            <option value="Treasure Island">Treasure Island</option>
                            <option value="Twin Peaks">Twin Peaks</option>
                            <option value="Visitacion Valley">Visitacion Valley</option>
                            <option value="West of Twin Peaks">West of Twin Peaks</option>
                            <option value="Western Addition">Western Addition</option>
                        </select>

                        <input type="hidden" name="csrf_token" value = "{{ csrf_token() }}" />
                  </div>



                <div class="col-12 col-sm" data-sr-item="contact-form">
                        <select class="form-control form-control-lg" id="mon" name="month">
                            <option value="1" selected>January</option>
                            <option value="2">February</option>
                            <option value="3">March</option>
                            <option value="4">April</option>
                            <option value="5">May</option>
                            <option value="6">June</option>
                            <option value="7">July</option>
                            <option value="8">August</option>
                            <option value="9">September</option>
                            <option value="10">October</option>
                            <option value="11">November</option>
                            <option value="12">December</option>
                        </select>

                        <input type="hidden" name="csrf_token" value = "{{ csrf_token() }}" />
                  </div>



                <div class="col-12 col-sm" data-sr-item="contact-form">
                        <select class="form-control form-control-lg" id="day" name="days">
                            <option value="Monday" selected>Monday</option>
                            <option value="Tuesday">Tuesday</option>
                            <option value="Wednesday">Wednesday</option>
                            <option value="Thursday">Thursday</option>
                            <option value="Friday">Friday</option>
                            <option value="Saturday">Saturday</option>
                            <option value="Sunday">Sunday</option>
                        </select>

                        <input type="hidden" name="csrf_token" value = "{{ csrf_token() }}" />
                  </div>


                  
                  <div class="col-12 col-sm" data-sr-item="contact-form">
                     <input class="form-control form-control-lg" type="number" name="hour_sf" placeholder="Hour" min="0" max="23" required>

                     <input type="hidden" name="csrf_token" value = "{{ csrf_token() }}" />
                  </div>

                  <div class="col-12 col-sm" data-sr-item="contact-form">
                     <input class="form-control form-control-lg" type="number" name="min_sf" placeholder="Minute" min="0" max="59" required>

                     <input type="hidden" name="csrf_token" value = "{{ csrf_token() }}" />
                  </div>



                  <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet"/>

                  <div class="col-12 col-sm" data-sr-item="contact-form">
                     <input class="form-control form-control-lg fa fa-input" style="background: url() no-repeat left;" type="submit" value="&#xf002" required>
                  </div>
               </div>
            </form>
             <!-- <p data-sr-item="movie" style="padding-top: 10px; font-size: 13px;">Note: * indicates optional fields</p> -->
         </div>
    
         </div>
      </div>


      <script src="{{ url_for('static', filename= 'fliqs-assets/vendor/object-fit-images/dist/ofi.mind3bb.js')}}"></script>
      <script src="{{ url_for('static', filename= 'fliqs-assets/vendor/%40popperjs/core/dist/umd/popper.minc927.js')}}"></script>
      <script src="{{ url_for('static', filename= 'fliqs-assets/vendor/scrollreveal/dist/scrollreveal.minbc3e.js')}}"></script>
      <script src="{{ url_for('static', filename= 'fliqs-assets/vendor/rellax/rellax.min4f96.js')}}"></script>
      <script src="{{ url_for('static', filename= 'fliqs-assets/vendor/vanilla-tilt/dist/vanilla-tilt.minfe21.js')}}"></script>
      <script src="{{ url_for('static', filename= 'fliqs-assets/vendor/animejs/lib/anime.min2167.js')}}"></script>
      <script src="{{ url_for('static', filename= 'fliqs-assets/vendor/bootstrap/dist/js/bootstrap.minc420.js')}}"></script>
      <script src="{{ url_for('static', filename= 'fliqs-assets/vendor/jarallax/dist/jarallax.min327d.js')}}"></script>
      <script src="{{ url_for('static', filename= 'fliqs-assets/vendor/swiper/swiper-bundle.minafa4.js')}}"></script>
      <script src="{{ url_for('static', filename= 'fliqs-assets/vendor/fancybox/dist/jquery.fancybox.min438f.js')}}"></script>
      <script src="{{ url_for('static', filename= 'fliqs-assets/vendor/jquery-countdown/dist/jquery.countdown.mind1f1.js')}}"></script>
      <script src="{{ url_for('static', filename= 'fliqs-assets/vendor/moment/min/moment.min63eb.js')}}"></script>
      <script src="{{ url_for('static', filename= 'fliqs-assets/vendor/moment-timezone/builds/moment-timezone-with-data.minc112.js')}}"></script>
      <script src="{{ url_for('static', filename= 'fliqs-assets/vendor/imagesloaded/imagesloaded.pkgd.mine781.js')}}"></script>
      <script src="{{ url_for('static', filename= 'fliqs-assets/vendor/isotope-layout/dist/isotope.pkgd.minaf3e.js')}}"></script>
      <script src="{{ url_for('static', filename= 'fliqs-assets/vendor/bootstrap-validator/dist/validator.minfb28.js')}}"></script>
      <script src="{{ url_for('static', filename= 'fliqs-assets/js/fliqs.min24ee.js')}}"></script>
      <script src="{{ url_for('static', filename= 'fliqs-assets/js/fliqs-init24ee.js')}}"></script>
   </body>
</html>